<br>
<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-right" style="height:70px">
  <h3 class="text-center">eLiquid Calculator
    <span class="align-content-end"><img src="../assets/images/bottle_logo.png"></span>
  </h3>
  <ul class="nav navbar-nav ml-auto">
    <li><a routerLink="/" class="navbar-brand"><button class="btn btn-outline-secondary" ><span class="align-content-start"><img src="../assets/images/create_logo.png"></span> Create new</button></a></li>
    <li><a routerLink="/myRecipes" class="navbar-brand"><button class="btn  btn-outline-secondary"><span class="align-content-start"><img src="../assets/images/catalog-logo.png"></span> My Recipes</button></a></li>
  </ul>
</nav>


<br>

<router-outlet></router-outlet>
